header {
  position: absolute;
  z-index:10;
  left:0;top:0;
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #EEE;
}
header div.header-top{ 
  height: 35px;
  background: var(--sub-color);
}
header div.header-top nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  max-width: 1100px;
  height: inherit;
  margin: 0 auto;
}
header div.header-top nav a{
  font-size: 0.9em;
  color:rgba(255,255,255,0.7);
  transition: all 0.3s;
}
header div.header-top nav a:hover{
  color:#FFF;
}
header div.header-top nav a::after{
  content: '/';
  margin: 0 5px;
}
header div.header-top nav a:last-child::after{
  display: none;
}
header div.header-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 1100px;
  height: calc(100% - 35px);
  margin: 0 auto;
}
h1{
  height: 80%;
  max-height: 70px;
}
h1 img{
  height: 100%;
}

@media screen and (min-width:1000px) {
  body{
    padding-top: 150px;
  }
  header {
    height: 150px;
  }
  .gnb-lg{
    height: 45px;
  }
  .gnb-lg>ul{
    display: flex;
  }
  .gnb-lg>ul>li>a{
    position: relative;
    display: block;
    height: 45px;
    padding: 0 30px;
    line-height: 45px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--dark-color);
    transition: all 0.3s;
  }
  .gnb-lg>ul>li>a::before{
    content: "";
    position: absolute;
    left:50%;
    width: 0px ;
    height: 1px;
    background: var(--main-color);
    transform: translateX(-50%);
    transition: all 0.3s; 
  }
  .gnb-lg>ul>li:hover>a{
    color:var(--main-color);
  }
  .gnb-lg>ul>li:hover>a::before{
    width: 40px;
  }
  .gnb-lg>ul>li>ul>li>a{
    display: block;
    padding: 10px;
    text-align: center;
    background: var(--dark-color);
    color: #FFF;
    transition: all 0.3s;
  }
  .gnb-lg>ul>li>ul>li>a:hover{
    background: var(--main-color);
  }
  .gnb-lg>ul>li>ul{
    overflow: hidden;
    border-radius:0 10px 0 10px;
    display: none;
  }
  .gnb-sm , .mbtn{
    display: none !important;
  }
}/* lg */


@media screen and (max-width:1000px) {
  body{
    padding-top: 100px;
  }
  header {
    height: 100px;
  }
  .gnb-sm{
    position: absolute;
    left:0;
    top:100px;
    width: 100%;
  }
  .gnb-sm>ul>li>a{
    display: block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-weight: 600;
    font-size: 0.95em;
    letter-spacing: 0.1em;
    color:#FFF;
    text-transform: uppercase;
    background: var(--dark-color);
    border-bottom: 1px solid #444;
  }
  .gnb-sm>ul>li>a.active::after{
    transform: rotate(180deg);
  }
  .gnb-sm>ul>li>a::after{
    content:"\f063";
    float:right;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    transition:all 0.3s;
  }
  .gnb-sm>ul>li>ul>li>a{
    display: block;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    background: #EEE;
    border-bottom: 1px solid #CCC;
  }
  .gnb-sm>ul>li>ul>li>a::before{
    content: '- ';
  }
  .mbtn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color:#EEE;
    font-size: 1.4em; 
    background: var(--dark-color); 
    transition: all 0.3s;
  }
  .mbtn .fa-xmark{display: none;}
  .mbtn.active .fa-bars{display: none;}
  .mbtn.active .fa-xmark{display: block;}
  
  .gnb-sm > ul > li > ul{display: none;}
  .gnb-sm{display: none;}
  .gnb-lg{ display: none; }
}/* sm */

.gnb > ul > li.sns{
  display: none;
} 



