body,html {
  height: 100%;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  word-break: keep-all; /* keep-all로 하면 text의 최소 단위단위마다 끊어지게 해준다! */
}
li{
  list-style: none;
}
img,svg,iframe{
  display: block;
}
input,textarea,select{
  box-sizing: border-box;
}
table{
  border-collapse: collapse;
}
button{
  background: none;
  border:none; 
  cursor: pointer;
  outline: none;
}
.hidden{
  position: fixed;
  left:-10000px;
}