@import 'mixin';
section.category_prd_list {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li {
            padding: 15px;
            box-sizing: border-box;
            @media screen and (min-width:1000px) {
                width: 33.3%;
            }//lg
            @media screen and (min-width:500px) and (max-width:1000px) {
                width: 49.5%;
            }//md
            @media screen and (max-width:500px) {
                width: 100%;
            }//sm
            &:nth-child(3n+1){
                background-color: rgba($color: #814d31, $alpha: 0.8);
            }
            &:nth-child(3n+2){
                background-color: rgba($color: #316080, $alpha: 0.8);        
            }
            &:nth-child(3n+3){
                background-color: rgba($color: #23552a, $alpha: 0.8);
            }
            figure {
                position: relative;
                overflow: hidden;
                padding: 5px;
                background-color: lightgray;
                border: 1px solid white;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-top-color: firebrick;
                }
                div {
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                    }//img
                }//div
                a {
                    position: absolute;
                    top: -10000px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    figcaption {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        border: 1px solid white;
                        h3 {
                            position: absolute;
                            width: 100%;
                            padding: 10px 0;
                            left: 0;
                            top: 0;
                            background-color: rgba($color: #000000, $alpha: 0.7);
                            color: var(--dark);
                        }//h3
                        p {
                            width: 90%;
                            text-align: center;
                            color: rgba($color:#FFF, $alpha: 0.8);
                        }//p
                    }//figcaption
                }//a
            }//figure
        }//li
    }//ul
    //hover_motion
    ul.list_container {
        li {
            figure {
                div {
                    img {
                        transition: filter 0.5s;
                    }//img
                }//div
                &:hover{
                    div {
                        transform: scale(1.2);
                        transition: all 10s;
                        img {
                            filter: blur(3px) brightness(50%);
                        }//:hover_img
                    }//hover:_div
                }//hover
            }//figure
        }//li
    }//list_container
}//category_prd_list