@import 'mixin';
.gnb {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    background-color: black;
    -webkit-mask-image: url(../img/img/icon&logo/gnb-mask-left.png),url(../img/img/icon&logo/gnb-mask-right.png);
    -webkit-mask-size: 0% 100%,0% 100%;
    -webkit-mask-position: left 0, right 0;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../img/img/icon&logo/gnb-mask-left.png),url(../img/img/icon&logo/gnb-mask-right.png);
    mask-size: 0% 100%,0% 100%;
    mask-position: left 0, right 0;
    mask-repeat: no-repeat;
    transition: -webkit-mask-size 1s, mask-size 1s;
    &.active {
        pointer-events: all;
        -webkit-mask-size: 100% 100%,100% 100%;
        mask-size: 100% 100%,100% 100%;
    }
    @media screen and (min-width:1100px){
        right: 95px;
        width: calc(100% - 95px);
        height: 100%;
    }//lg
    @media screen and (max-width:1100px){
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
    }//sm
    svg {
        position: absolute;
        width: 95%;
        max-width: 700px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.03;
        path {
            fill: none;
            stroke: white;
            stroke-width: 5px;
            stroke-dashoffset: 1;
            stroke-dasharray: 1;
            animation: drawRect 10s linear infinite;
            &.rect {
                stroke: none;
                fill: rgba(#FFF, 0);
            }//rect
        }//path
        @keyframes drawRect {
            0% {
                stroke-dashoffset: 1;       
            }
            100% {
                stroke-dashoffset: -1;
            }
        }//drawRect_keyframes
    }//svg
    > div {
        position: relative;
        width: 80%;
        max-width: 300px;
        padding: 25px;
        box-sizing: border-box;
        border: 7px solid rgba(#FFF, 0.1);
        box-shadow: 0 0 30px rgba(#FFF, 0.1);
        > ul {
            > li {
                &.current_page_ancestor {
                    > a {
                        color: var(--darkblue);
                    }
                }
                > a {
                    display: block;
                    font-size: 1.3em;
                    color: white;
                    font-weight: 900;
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;
                    i {
                        font-size: 0.9em;
                        margin-right: 10px;
                    }
                    span.kr {
                        display: none;
                    }
                    &::after {
                        content: "\2b";
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free"; 
                        font-weight: 900; 
                        margin-left: auto;
                    }
                    &.active:after {
                        content: '\f068';
                        float: right;
                        font-size: 0.8em;
                      }
                    &:hover {
                        color: var(--blue);
                    }
                }//1dep a
                > ul {
                    display: none;
                    padding-bottom: 2px;
                    > li {
                        > a {
                            display: block;
                            padding: 7px 20px;
                            color: rgba(182, 178, 178, 0.8);
                            font-size: 1.1em;
                            font-weight: 650;
                            &[aria_current]{
                                color: var(--orange) !important;
                            }
                            &::before {
                                content:'· ';
                                color: rgba(182, 178, 178, 0.8);
                            }
                            &:hover {
                                color: white;
                            }
                        }//2dep a
                    }//2dep li
                }//2dep ul
            }//1dep li
        }//1dep ul
        /* motion --------------------------------------- */
        > ul > li > a.active {
            color: var(--orange);
        }
    }//div
}//gnb