@import 'mixin';
.gnb_lg {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    > div {
        > ul {
            > li {
                > a {
                    position: relative;
                    display: block;
                    width: 40px;
                    overflow: hidden;
                    padding-top: 25px;
                    padding-bottom: 15px;
                    color: black;
                    i {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        transform: rotate(90deg);
                    }//i
                    span{
                        display: block;
                        width: 40px;
                        line-height: 40px;
                        writing-mode: vertical-lr;
                        transition: all 0.3s;
                        font-weight: 800;
                        font-size: 0.85em;
                        &.en {
                            letter-spacing: 0.15em;
                            text-transform: uppercase;
                        }//span.en
                        &.kr {
                            position: absolute;
                            right: 100%;
                            top: 30px;
                            height: calc(100% - 48px); // 부모인 a의 padding값을 뺀 100%! //
                            text-orientation: sideways;
                            text-align: center;
                        }//span.kr
                    }//span
                    /* a_hover --------------------------- */
                    &:hover {
                        span {
                            transform: translateX(100%);
                            color: var(--darkblue);
                        }
                        i {
                            color: var(--darkblue);
                        }
                    }
                }//a
            }//li
        }//ul
    }//div
    div > ul > li > ul {
        display: none;
    }//2dep ul
    @media screen and (max-width:1100px){
        display: none;
    }//sm
}//gnb