@import 'mixin';
.gnb_lg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    > div {
        > ul {
            > li {
                > a {
                    display: flex;
                  /*   flex-direction: column; */
                    position: relative;
                    width: 40px;
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 15px;
                    background-color: lightgray;
                    i {
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        transform: rotate(90deg);
                    }//i
                    span{
                        writing-mode: vertical-lr;
                        &.en {

                        }//span.en
                        &.kr {
                            text-orientation: sideways;
                        }//span.kr
                    }//span
                }//a
            }//li
        }//ul
    }//div
    div > ul > li > ul {
        display: none;
    }//2dep ul
    @media screen and (max-width:1100px){
        display: none;
    }//sm
}//gnb