@import 'mixin';

h1 {
    position: fixed;
    z-index: 15;
    height: 50px;
    a {
        div.logo {
            figure {
                img {
                    &.front {

                    }
                    &.back {

                    }
                    &.left {

                    }
                    &.right {

                    }
                    &.top {

                    }
                    &.bottom {

                    }
                }//img
            }//figure
        }//logo
    }//a
}//h1
