@import 'mixin';
.snb {
    position: sticky;
    z-index: 1;
    height: 60px;
    transition: all 0.3s;
    border-bottom: 1px solid rgb(229,229,229);
    &.active {
        background-color: white;
    }
    @media screen and (min-width:1100px) {
        margin-top: -61px;
        top: 0;
    }//lg
    @media screen and (max-width:1100px) {
        top: 70px;
        overflow: hidden;
        overflow-x: auto;
    }//sm
    > div {
        max-width: 1200px;
        height: inherit;
        margin: 0 auto;
        background-color: white;
        /* 
        먼저 -x,y둘중 하나만 사용하기 위해서는 'overflow:hidden'을 해놔야한다.
        overflow-y는 body에서 적용되지 않는다.-x는 수평축, -y는 수직축 
        */
        >ul {
            > li {
                display: none;
                &.current_page_ancestor{
                    display: block;
                }
                > a {
                    display: none;
                }//1dep a
                > ul {
                    height: 60px;
                    text-align: center;
                    line-height: 60px;
                    @media screen and (min-width:1100px){
                        display: flex;
                    }//lg
                    @media screen and (max-width:1100px){
                        display: inline-flex;
                        /* 고정된 크기에서 자율적으로 늘어나게 해준다.(width:200px로 고정되어있다.) */
                        min-width: 100%;
                        justify-content: center;
                    }//sm
                    > li {
                        position: relative;
                        height: inherit;
                        box-sizing: border-box;
                        border-right: 1px solid var(--dark);
                        @media screen and (min-width:1100px){
                            flex: 1;
                        }//lg
                        @media screen and (max-width:1100px){
                            width: 200px;
                        }//sm
                        > a{
                            display: block;
                            height: inherit;
                            font-size: 20px;
                            font-weight: 800;
                            color: var(--dark);
                            &[aria-current]{
                                background-color: var(--dark);
                                color: white;
                            }
                        }//2dep a
                    }//2dep li
                }//2dep ul
            }//1dep li
        }//1dep ul
    }//div
}//snb