@import 'mixin';
.sub_visual {
    background-color: black;
    @media screen and (min-width:1100px){
        height: 400px;
    }//lg
    @media screen and (max-width:1100px){
        height: 250px;
    }//sm
}//sub_visual