html, body {
    margin: 0;
    padding: 0;
  }//html, body
  body {
    font-family: "SCoreDream", "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}//body
.activeDiv {
    background-color: #00a9e0 !important;
    box-shadow: 2px 2px 0 black !important;
}
.hj_photo {
    position: relative;
    width: 50%;
    height: 935px;
    box-sizing: border-box;
    background-color: #333;
    figure {
        position: absolute;
        font-family: inherit;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(70%);
        }//img
        figcaption {
            position: absolute;
            top: 25%;
            left: 36%;
            transform: translateX(-50%);
            width: 400px;
            p {
                line-height: 25px;
                color: white;
                font-weight: 500;
                text-shadow: 2px 2px 3px #333;
            }//p
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                display: block;
                width: 40px;
                height: 2px;
                color: white;
                z-index: 3;
            }//:before
        }//figcaption
    }//figure
    p {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 60px 0;
        box-sizing: border-box;
        button {
            position: relative;
            font-family: inherit;
            border: 0;
            margin-bottom: 20px;
            margin-right: 40px;
            background-color: rgba($color: #000000, $alpha: 0);
            color: #fdfbf7;
            font-size: 1.2em;
            font-weight: 600;
            transition: all 0.3s;
            cursor: pointer;
            z-index: 1;
            &:hover {
                color: #bebebe;
            }//:hover
            &::after {
                position: absolute;
                display: none;
                content: '';
                top: 40%;
                right: -10% ;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #00a9e0;
                transition: all 0.05s;
            }
            &.active {
                color: #00a9e0;
                text-shadow: 1px 1px 3px #333;
                &::after {
                   display: block;
                }//::after
            }//button.active
        }//button
    }//p
  }//.hj_photo
#map {
    margin: 0 auto;
}//map
div.hj_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 120px;
    background-color: rgb(0,169,224);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 2px 0 black;
    h3 {
        font-weight: 600;
        color: #fdfbf7;
        text-shadow: 0 0 5px rgba(#333,0.5);
        margin-bottom: 0;
    }//h3
    p {
        font-size: 0.6em;
        color: #333;
        font-weight: 500;
    }//p
}//hj_inner

