html, body {
    margin: 0;
    padding: 0;
  }//html, body
  body {
    font-family: "SCoreDream", "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}//body
.hj_photo {
    position: relative;
    width: 50%;
    height: 935px;
    box-sizing: border-box;
    background-color: #333;
    figure {
        position: absolute;
        font-family: inherit;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(50%) blur(3px);
        }//img
    }//figure
    p {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 60px 0;
        box-sizing: border-box;
        button {
            position: relative;
            font-family: inherit;
            border: 0;
            margin-bottom: 20px;
            margin-right: 20px;
            background-color: rgba($color: #000000, $alpha: 0);
            color: #fdfbf7;
            font-size: 1.2em;
            font-weight: 600;
            transition: all 0.3s;
            cursor: pointer;
            z-index: 1;
            &:hover {
                color: #bebebe;
            }//:hover
            &::after {
                position: absolute;
                display: none;
                content: '';
                top: 40%;
                right: -7% ;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #00a9e0;
                transition: all 0.05s;
            }
            &.active {
                color: #00a9e0;
                text-shadow: 1px 1px 3px #333;
                &::after {
                   display: block;
                }//::after
            }//button.active
        }//button
    }//p
  }//.hj_photo
#map {
    margin: 0 auto;
}//map
div.hj_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 150px;
    background-color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 2px 0 black;
    h3 {
        font-weight: 600;
        color: black;
        text-shadow: 2px 2px 0 rgb(0,169,224);
        margin-bottom: 0;
    }//h3
    p {
        font-size: 0.6em;
    }//p
    a {
        text-decoration: none;
        color: black;
        font-size: 0.6em;
    }//a
    a:last-child {
        margin-top: 4px;
        margin-bottom: 10px;
        i {
            margin-right: 3px;
        }
    }//a:last-child
}//hj_inner

