@media screen and (max-width:1850px) {
    .silla {
        display: none;
    }
}
.silla {
    position: absolute;
    opacity: 0.5;
    right: -40%;
    top: 30%;
    z-index: -10;
}
.silla img {
    width: 500px;
    height: 1000px;
}
.greet figure img {
    display: block;
    width: 100%;
}
.greet > div{
    display: flex;
    border-bottom: 1px solid black;
    padding: 50px 0;
}
.greet > div:last-child {
    border-bottom: 0;
}
@media screen and (min-width:700px) {
    .greet > div h2 {
        width: 23.5%;
    }
    
}
@media screen and (max-width:700px) {
    .greet > div h2 {
        width: 35%;
    }
}
.greet > div ul li {
    line-height: 30px;
}
.greet .greet_cash ul {
    margin-left: 20px;
}
.cashbox div {
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    font-size: 19px;
}
.cashbox .blue {
    background-color: var(--sub-color);
    margin-top: 5px;
    margin-bottom: 20px;
}
.cashbox .red {
    background-color: var(--main-color);
}
