section.home_section1 {

}
section.home_section1 ul {
        display: flex;
        flex-wrap: wrap;
}
section.home_section1 ul i {
    margin: 15px 0 15px 20px;
    font-size: 1.5em;
}
section.home_section1 ul li {
    margin: 15px 0;
    margin-left: 7px;
}