.bronze img{
    position: absolute;
    top: 60%;
    right: -40%;
    opacity: 0.3;
    z-index: -20;
    width: 100%;
}
.notice_section figure {
    position: relative;
}
.notice_section figure img {
    width: 100%;
}
.notice_section figure figcaption {
    padding-left: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -25%;
    right: 0;
    height: 200px;
    background-color: white;
    font-size: 1.6em;
    font-weight: 850;
}
@media screen and (min-width:1000px){
    .notice_section figure figcaption{
        width: 600px;
    }
    
} 
@media screen and (min-width:900px) and (max-width:1000px){
    .notice_section figure figcaption{
        width: 550px;
    }
} 
@media screen and (min-width:800px)and (max-width:900px){
    .notice_section figure figcaption{
        width: 480px;
    }
} 
@media screen and (max-width:800px){
    .notice_section figure figcaption{
        width: 410px;
        font-size: 1.2em;
    }
    .bronze {
        display: none;
    }
} 
.notice_section figure figcaption li {
    color: black;
}
.notice_section figure figcaption li:nth-of-type(1) b {
    color: var(--main-color);
}
.notice_section figure figcaption li:nth-of-type(2) b {
    color: var(--sub-color)
}
.notice_section figure figcaption li:nth-of-type(3) b {
    font-size: 1.8em;
    background: 
    -webkit-linear-gradient(120deg,var(--sub-color) 55%,var(--main-color) 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notice_section .notice_desc {
    display: flex;
    width: 100%;
    max-width: 1200px;
    color: black;
}
.notice_section .notice_desc > ul {
    margin-top: 25px;
    width: 40%;
}
.notice_section .notice_desc > ul li:nth-child(1),
.notice_section .notice_desc > ul li:nth-child(2){
    font-size: 2.4em;
    font-weight: 750;

}
.notice_section .notice_desc > ul li:nth-child(3),
.notice_section .notice_desc > ul li:nth-child(4) {
    margin-top: 7px;
    font-size: 1.2em;
    font-weight: 600;
}
.notice_section .notice_desc .notice_sub_desc {
    margin-top: 130px;
    margin-left: 10px;
    width: 80%;
}
@media screen and (max-width:800px){
    .notice_section .notice_desc .notice_sub_desc {
        margin-top: 50px;
    }
} 
.notice_section .notice_desc .notice_sub_desc ul {
    margin: 30px;
    border-bottom: 1px solid black;
}
.notice_section .notice_desc .notice_sub_desc ul:last-child {
    border-bottom: none;
}
.notice_section .notice_desc .notice_sub_desc ul li {
    margin-bottom: 15px;
}
.notice_section .notice_desc .notice_sub_desc ul li:first-child {
    font-weight: 600;
    font-size: 1.2em;
    color: black;
}
.notice_section .notice_desc .notice_sub_desc ul:last-child {
    position: relative;
}
.notice_section .notice_desc .notice_sub_desc ul:last-child li:last-child {
    position: absolute;
    right: 0;
}