.smile {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: 10%;
}
.smile img {
    width: 800px;
    height: 800px;
    opacity: 0.3;
}
.personnel {
    width: 500px;
    height: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personnel input {
    display: block;
    width: 80%;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 18px;
}
input:hover {
    background-color: black;
    color: white;
}
.find {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find span {
    display: block;
    margin: 10px auto;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    border-right: 2px solid black;
    cursor: pointer;
}
.find span:last-child {
    border: none;
}
.enter {
    width: 100px;
    height: 40px;
    margin: 10px auto;
    margin-right: 5px;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 16px;
    transition: all 0.5s;
}
.enter:hover {
    background-color: var(--sub-color);
    border: 3px solid var(--sub-color);
    color: white;
}
.SNS {
    width: 400px;
    margin: 30px auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.SNS span {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 1px solid black;
} 
.SNS div {
    width: 15%;
    height: 55px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
} 
.SNS div:hover {
    color: black;
}
.SNS .kakao {
    background-color: rgba(250,225,0,0.7);
    transition: all 0.5s;
}
.SNS .kakao:hover {
    background-color: rgb(250, 255, 0);
}
.SNS .naver {
    background-color: rgba(3,199,90,0.7);
    transition: all 0.5s;
}
.SNS .naver:hover {
    background-color: rgb(3,199,90);
}
.SNS .kakao:hover {
    background-color: rgb(250, 255, 0);
}
.SNS .facebook {
    background-color: rgba(24,119,242,0.7);
    transition: all 0.5s;
}
.SNS .facebook:hover {
    background-color: rgb(24, 119, 242);
}