table.board {
    width: 100%;
  }/* table */
  table.board td , 
  table.board th {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }
  table.board th {
      background-color: black;
      color: white;
    }
    table.board td:nth-child(2) {
        text-align: left;
        width: 50%;
        cursor: pointer;
    }
    table.board tr:nth-child(even) {
        background-color: lightgray;
    }
    table.board tr:hover {
        background-color: var(--main-color);
        color: white;
    }
  table.board a {
    display: block;
    max-width: 200px;
    white-space: nowrap;
  }
  table.board a:hover {
    color: var(--main-color);
  }
  @media screen and (max-width:900px){
    table.board, 
    table.board > * {
      display: block;
    }
    table.board tr > *:nth-child(1){
        width: 40px;
    }
    table.board tr > *:nth-child(2){
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table.board tr > *:nth-child(4){
        width: 80px;
    }
    table.board tr {
      width: 100%;
      display: flex;
      transform: all 0.5s;
    }
    table.board td:nth-child(3),
    table.board th:nth-child(3),
    table.board td:nth-child(5),
    table.board th:nth-child(5){
      display: none;
    }
  }