/* sub-visual------------------------------------------- */
@media screen and (min-width:1000px) {
   .sub-visual{
    width: 100%;
    height: 500px;
  }
}
@media screen and (min-width:600px)and (max-width:1000px) {
   .sub-visual{
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width:600px) {
   .sub-visual{
    width: 100%;
    height: 200px;
  }
}
.sub-visual .slider {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sub-visual .slider h2 {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 750;
  z-index: 1; 
  text-shadow: 0 0 5px black;
}
@media screen and (min-width:1000px) {
  .sub-visual .slider h2 {
   font-size: 4.8em;
 }
 .sub-visual .slider h2:first-child li{
  line-height: 72px;
}
.sub-visual .slider h2:nth-child(2) li {
  line-height: 58px;
}
}
@media screen and (min-width:600px)and (max-width:1000px) {
  .sub-visual .slider h2 {
    font-size: 2.8em;
  }
  .sub-visual .slider h2:first-child li{
    line-height: 42px;
  }
  .sub-visual .slider h2:nth-child(2) li {
    line-height: 32px;
  }
}
@media screen and (max-width:600px) {
  .sub-visual .slider h2 {
    font-size: 1.5em;
  }
  .sub-visual .slider h2:first-child li {
    line-height: 24px;
  }  
  .sub-visual .slider h2:nth-child(2) li {
    line-height: 18px;
  }
}
.sub-visual .slider h2:first-child {
  position: absolute;
  top: 3%;
  right: 3%;
  text-align: right;
}
.sub-visual .slider h2:nth-child(2) {
  position: absolute;
  bottom: 2%;
  left: 3%;
}
.sub-visual .slider h2 li:first-child {
  color: var(--main-color);
  opacity: 0.8;
  left: 48%;
}
.sub-visual .slider h2 li:nth-child(2) {
  color: var(--sub-color);
  opacity: 0.8;
}
.sub-visual .slider .col_width {
  height: 100%;
}
.sub-visual .slider .col_width .img_container {
  position: relative;
  display: flex;
  width: 800%;
  height: 100%;
}
.sub-visual .slider .col_width .img_container li {
  width: 12.5%;
  height: 100%;
  cursor: pointer;
}
.sub-visual .slider .col_width .img_container li figure {
  position: relative;
  height: 100%;
}
.sub-visual .slider .col_width .img_container li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sub-visual .slider .col_width .img_container li figure figcaption {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow: 0 0 3px white;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 600;
}
/*sub-center ---------------------------------------------------- */
div.sub-center{
  max-width: 1100px;
}
main.sub-content{
  position: relative;
}
.snb > ul > li{
  display: none;
}
.snb > ul > li > a{
  display: none;
}
@media screen and (min-width:1200px){
  div.sub-center{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto;
  }
  aside.sidebar{
    height: 45px;
  }
  .snb{
    margin-bottom: 100px;
  }
  .snb em{
    display: block;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 800;
    color:var(--dark-color);
  }
  .snb em:first-letter{
    font-size: 1.3em;
  }
  .snb ul li {
    position: relative;
  }
  .snb ul li i {
    position: absolute;
    left: -18%;
    font-size: 1.8em;
    color: var(--main-color);
    opacity: 0.3;
  }
  .snb > ul > li > ul > li > a{
    display: block;
    padding: 10px 0;
    width: 150px;
  }
  
  .snb > ul > li > ul > li > a::before{
    content: "- ";
  }
  .snb > ul > li > ul > li > a.active{
    font-weight: 600;
    color:var(--sub-color);
  }
  .snb > ul > li > ul > li > a.active::before{
    content: "\f00c";
    display: inline-block;
    margin-right: 3px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
  }
  main.sub-content{
    margin: 0 auto;
    width: 90%;
  }
  .breadcrumb{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.85em;
    color:#AAA;
  }
  .breadcrumb .menu-label{
    color:var(--sub-color);
  }
  .breadcrumb li::after{
    content: ">";
    margin: 0 3px;
  }
  .breadcrumb li:last-child::after{
    display: none;
  }
}/* lg */

@media screen and (max-width:1200px){
  aside.sidebar{
    height: 45px;
    background: #333;
  }
  .snb>ul>li>ul{
    display: flex;
    justify-content: center;
    height: 45px;
  }
  .snb>ul>li>ul>li{
    flex: 1;
    max-width: 200px;
    border-right: 1px solid #666;
  }
  .snb>ul>li>ul>li:last-child{
    border:none;
  }
  .snb>ul>li>ul>li>a{
    display: block;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: var(--dark-color);
    color:#FFF;
  }
  .snb>ul>li>ul>li>a.active{
    background: var(--sub-color);
  }
  .snb > ul > li > em{
    display: none;
  }
  a.sub_customer{
    display: none;
  }
  main.sub-content{
    width: 95%;
    margin: 40px auto;
  }
  .breadcrumb,
  .smile {
    display: none;
  }
}/* sm */

